@{
    ViewBag.Title = "About";
}
<!--
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
    -->

<div style="text-align:center">
    <h1>Always be closing!</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Yz246_Pjjkc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>